{% extends "base.html" %}

{% block head %}
    <title>Log In</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        }

        body {
            background: #52734D;
        }

        .container {
            margin-top: 60px;
            text-align: center;
        }

        #loginform {
            padding: 10px;
            text-align: center;
            margin: 10px auto;
            max-width: 400px;
            height: 320px;
            border-radius: 10px;
            background: #FEFFDE;
        }

        .formhead {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .auth {
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            background: #FEFFDE;
            border-color: #000;
            font-size: 16px;
        }

        #login-submit {
            background: #91C788;
            alignment: center;
            cursor: pointer;
            width: 80%;
            padding: 10px;
            font-size: 16px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
        }

        #icon {
            font-size: 36px;
            color: #FEFFDE;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <p id="icon"><i class="fa-solid fa-apple-whole"></i> Harvests</p>
        <div id="loginform">
            <p class="formhead">Log in to your Harvest Account</p>
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

                {{ form.username.label_tag }}
                {{ form.username }}
                <br>

                {{ form.password.label_tag }}
                {{ form.password }}
                <br>

                <button type="submit" id="login-submit">Log In</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

        {% if form.errors %}
            <p id="login-error">Your username and password didn't match. Please try again.</p>
        {% endif %}
        </div>
    </div>

{% endblock %}