{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>List Harvests</title>
    <link rel="stylesheet" type="text/css" href="{% static 'harvest/style.css' %}">
{% endblock %}

{% block content %}
    <nav class="navbar">
        <div class="nav-menu">
            <p><i class="fa-solid fa-apple-whole"></i> Harvests</p>
            <ul>
                <li><a href="{% url 'harvest:home' %}">Dashboard</a></li>
                <li><a href="{% url 'harvest:harvest-list' %}">Harvest List</a></li>
                <li><a href="{% url 'harvest:harvest-add' %}">Add Harvest</a></li>
                <li><a href={% url 'logout' %}>Log Out</a></li>
            </ul>
        </div>
    </nav>
    list
    
{% endblock %}