{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Add new Harvest</title>
    <link rel="stylesheet" type="text/css" href="{% static 'harvest/style.css' %}">
{% endblock %}

{% block content %}
    <nav class="navbar">
        <div class="nav-menu">
            <p><i class="fa-solid fa-apple-whole"></i> Harvests</p>
            <ul>
                <li><a href="{% url 'harvest:home' %}">Dashboard</a></li>
                <li><a href="{% url 'harvest:harvest-list' %}">Harvest List</a></li>
                <li><a href="{% url 'harvest:harvest-add' %}">Add Harvest</a></li>
                <li><a href={% url 'logout' %}>Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div id="create-container">
        <h3>Add new Harvest</h3>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-wrap">
                <p>{{ form.date.label }}</p>
                {{ form.date }}
                <br>
            </div>

            <div class="form-wrap">
                <p>{{ form.fruit.label }}</p>
                {{ form.fruit }}
                <br>
            </div>


            <div class="form-wrap">
                <p>{{ form.amount.label }}</p>
                {{ form.amount }}
                <br>
            </div>

            <div class="form-wrap">
                <p>{{ form.price.label }}</p>
                {{ form.price }}
                <br>
            </div>

            <a class="btn-1">Go back</a>
            <button type="submit" class="btn-1">Add</button>

            {% if form.errors %}
                {% for v in form.errors.values %}
                <p id="password-error">{{ v }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
{% endblock %}